body {
    background-color: #01324c;
    color: #f0f8ff;
}

h1 {
    border-bottom: 6px solid #a52a2a;
}

h3 {
    color: #ffdb00;
}

.border_h2 {
    border: 2px solid #000;
    border-radius: 12px;
    padding: 5px;
    background-color: #ff8c00;
    color: #000;
    
}

.lired {
    color: #b22222;
}

.ul_border {
    border: 4px groove #fff8dc;
    background-color: #556b2f;
    padding: 20px;
    box-sizing: border-box;
    margin-right: 1200px;
    text-align: auto;
}